<div class="row">
  <div class=" col-md-3">
    <form class="form-login" ng-submit="addTask()" name="taskForm">
      <h4>Add Task.</h4>
      <input type="text" ng-model="task.name" class="form-control input-sm chat-input" placeholder="task name" required/>
      
      </br>
      <div class="wrapper">
      <span class="group-btn">     
          <button type="submit" class="btn btn-primary btn-md">Add<i class="fa fa-sign-in"></i></button>
      </span>
      </div>
      </form>
  </div>
   <div class=" col-md-9">
    <div ng-init="init()">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>#</th>
            <th>Task Name</th>
            <th>Task Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="task in tasks">
            <th scope="row">{{$index}}</th>
            <td><a href="#/project/{{task.project_id}}/task/{{task.id}}">{{task.name}}</a></td>
            <td>{{task.status}}</a></td>
          </tr>
        </tbody>
      </table>
      <div>
  </div>
</div>