<div class="row">
  <div class=" col-md-3">
    <form class="form-login" ng-submit="addProduct()" name="productForm">
      <h4>Add new Product.</h4>
      <input type="text" ng-model="product.name" class="form-control input-sm chat-input" placeholder="product name" required/>
      
      </br>
      <div class="wrapper">
      <span class="group-btn">     
          <button type="submit" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></button>
      </span>
      </div>
      </form>
  </div>
</div>